#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main-container {
  display: inline-flex;
}

.profile-container {
  max-width: 40%;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 16px 24px;
  margin: auto;
  width: 50%;
}

.profile-container .profile-picture {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.profile-container .dev-title {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.contact-info {
  display: inline-table;
  vertical-align: middle;
}

.social-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contact-me {
  width: 100%;
  margin-top: 16px;
  background-color: #F2F2F2;
  color: #212121;
  border: none;
  border-radius: 15px;
  height: 48px;
  cursor: pointer;
}

.skills-container {
  max-width: 60%;
  padding: 34px 24px;
  margin-left: 16px;
}

.title-skills-container {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.skills-list {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}